[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/XantenGramr
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/XantenGramr
	label-Verified = -1..+1 group user/XantenGramr
	push = group user/XantenGramr
	read = group user/XantenGramr
	rebase = group user/XantenGramr
	removeReviewer = group user/XantenGramr
	submit = group user/XantenGramr
[access "refs/heads/*"]
	create = group user/XantenGramr
	push = +force group user/XantenGramr
	pushMerge = group user/XantenGramr
	read = group user/XantenGramr
[access "refs/tags/*"]
	push = group user/XantenGramr
	push = +force group user/XantenGramr
